<%- include layouts/header.ejs %>
        <div class="page-data">
         <div class="data-btn">
           <button onClick="addActivity();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>activity_name</th>
                    <th>activity_dated</th>
                    <th>activity_description</th>
                    <th>activity_cost</th>
                    <th>recurring</th>
                    <th width="120px">Action</th>
                </tr>                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].activity_name%></td>
                    <td><%=data[i].activity_dated%></td>
                    <td><%=data[i].activity_description%></td>
                    <td><%=data[i].activity_cost%></td>
                    <td><%=data[i].recurring%></td>
                    <td>
                        <a class="a-inside edit" href="../activity/edit/<%=data[i].activity_id%>">Edit</a>                       
                        <a class="a-inside delete" href="../activity/delete/<%=data[i].activity_id%>">Delete</a>                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                                                             
            </table>
         </div>
        </div>        
<%- include layouts/footer.ejs %>