<%- include layouts/header.ejs %>
        <div class="page-data">
         <div class="data-btn">
           <button onClick="addCommentary();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>id</th>
                    <th>picture_id</th>
                    <th>comment</th>
                    <th>likes</th>
                    <th width="120px">Action</th>
                </tr>                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].picture_id%></td>
                    <td><%=data[i].comment%></td>
                    <td><%=data[i].likes%></td>
                    <td>
                        <a class="a-inside edit" href="../commentary/edit/<%=data[i].commentary_id%>">Edit</a>                       
                        <a class="a-inside delete" href="../commentary/delete/<%=data[i].commentary_id%>">Delete</a>                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                                                             
            </table>
         </div>
        </div>        
<%- include layouts/footer.ejs %>